/* RESET */

.body {
    font-family: Georgia, 'Times New Roman', Times, serif;
}


* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

img {
	max-width: 100%;
}

a {
	text-decoration: none;
	color: currentColor;
}

menu,
ul,
ol {
	list-style: none;
}

li {
    list-style: none;
}


/* LAYOUT */

.container {
	max-width: 1000px;
	margin: 0 auto;
}

.container-sm {
    max-width: 700px;
    margin: 0 auto;
}

.row {
	display: flex;
	flex-wrap: wrap;
}

.col{
	width: 100%;
}


/* style */


/* HEADER */

.page-header {
	background-color: rgb(49, 97, 224);
	color: white;
}

.page-header .row {
    justify-content: space-between;
	align-items: center;
	padding: 10px;
}

.page-header ul {
	display: none;
}


/* HERO */

.hero .row {
	padding: 13px;
	gap: 25px;
}

.big-card {
	background-color: #B5DDFF;
	display: flex;
	flex-wrap: wrap;
	gap: 25px;
	border-radius: 15px;
	padding-top: 15px;
	padding-left: 15px;
}

.big-card .col {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 25px;
}

.col img {
	width: 80%;
}

.card {
	background-color: #B5DDFF;
	border-radius: 15px;
	display: flex;
	flex-direction: column;
	gap: 15px;
	padding: 15px;
	text-align: center;
}

.card i {
	color: #0084FD;
	font-size: 40px;
}

.card-title {
	color: #0084FD;
}

.card-description {
	color: gray;
	font-size: 15px;
}


/* PLANNING */

.planning-card-violet {
	color: white;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	gap: 20px;
}


.planning-card-white {
	background-color: white;
	color: black;
	border-radius: 20px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	text-align: center;
	gap: 20px;
}

.arrow {
	background-color: #9792E4;
	padding: 10px;
	border-radius: 75%;
}


/* utilities */

.margin-section {
	margin-top: 50px;
}

.flex {
    display: flex;
}

.between {
	justify-content: space-between;
}

.center {
	justify-content: center;
}

.end {
	justify-content: flex-end;
}

.column {
	flex-direction: column;
}

.align-start {
	align-items: flex-start;
}

.no-wrap {
	flex-wrap: nowrap;
}

.gap {
	gap: 25px;
}

.btn {
	border: none;
	border-radius: 999px;
	padding: 8px 10px;
}

.blu-btn {
	border: none;
	border-radius: 999px;
	padding: 8px 35px;
	background-color: #0084FD;
	color: white;
}


.bg-violet {
	background-color: #9792E4;
}

.pd20 {
	padding: 10px 20px;
}

/* responsive */

@media (min-width: 500px) {
	.col-8 {
		width: 60%;
	}

	.col-4 {
		width: 30%;
	}

}

@media (min-width: 835px) {
	.page-header .hamburger {
		display: none;
	}
	.page-header ul {
		display: flex;
		gap: 20px;
		align-items: baseline;
	}

	.big-card {
		flex-wrap: nowrap;
	}

	.planning .container {
		max-width: 700px;
		margin: 0 auto;
	}

	.planning .col-60 {
		width: 60%;
	}

	.planning .col-40 {
		width: 40%;
	}

	.planning-card-violet {
		flex-direction: column;
		align-items: flex-start;
		gap: 50px;
	}

	.planning-card-violet img {
		margin-bottom: 30px;
	}

	.planning-card-white img {
		width: 50%;
	}
}




