* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

img {
	max-width: 100%;
}

a {
	text-decoration: none;
	color: currentColor;
}

menu,
ul,
ol {
	list-style: none;
}

li {
    list-style: none;
}

.col-12 {
    width: 100%;
}

/* LAYOUT */

.container {
    max-width: 1164px;
}

.container-sm {
    max-width: 904px;
}

.container,
.container-sm {
    margin: 0 auto;
    padding: 0 12px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    row-gap: 12px;
}

.row > * {
    padding: 0 12px;
}


/* HEADER */
.page-header {
    background-color: #0084FD;
    color: white;
    padding: 15px 0 ;
}

.nav {
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: block;
}

.hamburger {
    font-size: 24px;
}

.main-menu {
    display: none;
}

.menu-item a {
    display: block;
    padding: 0 20px;
    line-height: 30px;
}


/* HERO */

.hero {
    padding: 20px 0;
	margin-top: 40px;
}

/* CARD */

[class^=col-] > .card {
    height: 100%;
}

.feature-card {
    background-color: #B5DDFF;
    border-radius: 15px;
}

.feature-title {
    color: #0084FD;
}


.feature-card .card-body {
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;
    text-align: center;
    padding: 30px 20px;
}

.feature-card.card__landscape {
    display: flex;
    flex-wrap: wrap;
}

.feature-card.card__landscape .card-body {
    text-align: left;
    align-items: flex-start;
}

.feature-card .phone-img img {
    display: block;
    margin: 0 auto;
    width: 250px;
}


/* PLANNING-SECTION  */

.planning {
    margin-top: 60px;
    background-color: #9792E4;
    padding: 35px 10px;
}

.planning-card-violet {
    color: white;
}

.planning-card-violet img {
    width: 70%;
    margin-bottom: 50px;
}

.planning-card-white {
    background-color: white;
    color: black;
    border-radius: 15px;
    text-align: center;
    padding: 15px 10px;
}

.planning-card-white img {
    width: 60%;
}

.planning-card-white h3 {
    font-size: 25px;
    margin-bottom: 20px;
}

.planning-card-white p {
    margin-bottom: 20px;
}

.planning-card-white .arrow {
    aspect-ratio: 1/1;
    border-radius: 50%;
    background-color: #9792E4;
    padding: 15px;
}

.planning-title {
    margin-bottom: 30px;
    font-size: 25px;
}


/* TESTIMONIALS */

.testimonials-section {
	padding: 40px 15px;
}

.testimonials-text {
	text-align: center;
}

.testimonials-title {
	font-size: 25px;
	color: #9792E4;
	margin: 20px 0;
}

.container .div {
	font-size: 13px;
}

.people-card {
	margin-top: 30px;
	padding: 20px 15px;
	background-color: #9792E4;
	border-radius: 25px;
	display: flex;
	flex-direction: column;
	color: white;
}

.people-card .people-img img {
	border-radius: 50%;
	width: 250px;
	aspect-ratio: 1/1;
	object-fit: cover;
}

.people-speech p {
	margin-top: 15px;
	font-size: 12px;
    text-align: center;
}


/* BENEFITS */

.benefits {
    padding: 40px 15px;
    background-color: #9792E4;
}

.benefits h2 {
    color:white;
    text-align: center;
    font-size: 25px;
    margin-bottom: 50px;
}

.benefits-card {
    background-color: white;
    border-radius: 20px;
    padding: 25px;
    color: #9792E4;
}

.benefits-card h1 {
    font-size: 40px;
    margin-bottom: 15px;
}

.benefits-card h4 {
    font-size: 20px;
    margin-bottom: 15px;
}

.benefits-card p {
    color: black;
    font-size: 15px;
    line-height: 20px;
    margin-bottom: 20px;
}

.benefits-card a {
    color: white;
    background-color: #9792E4;
    padding: 6px 30px;
    border-radius: 999px;
}


/* ABOUT-US */

.about-us {
    padding: 40px 10px;
}

.about-us .col-12 {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.about-us .col-12.person-img {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.about-us .container .person-img img {
    margin-top: 30px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    width: 150px;
}


.about-us .col-12 h1 {
    color: #9792E4;
    font-size: 30px;
}

.about-us .col-12 p {
    line-height: 30px;
}

/* GET STARTED */

.get-started {
    padding: 35px 10px;
    background-color: #9792E4;
    color: white;
}

.get-started .container-sm div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

.get-started p {
    font-size: 13px;
}

.get-started h3 {
    font-size: 35px;
}

.get-started h1 {
    color: #FDC15F;
    font-size: 70px;
}


/* FOOTER */

footer {
    background-color: #333333;
    color: white;
    padding: 35px 50px;
}

footer .container-sm .row {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer .container-sm .row p {
    font-size: 11px ;
    text-align: center;
}


/* utilities */

.violet {
    color: #9792E4;
    line-height: 40px;
    font-size: 20px;
}

.gray {
    color: lightgray;
}

.margin-bottom {
    margin-bottom: 30px;
}


/* responsive */

@media (min-width: 768px) {
    .feature-card .card-img img {
        margin: 0;
    }

    .col-md-4 {
        width: calc(4 * 100% / 12);
    }

    .col-md-5 {
        width:  calc(5 * 100% / 12);
    }

	.col-md-6 {
		width: calc(6 * 100% / 12);
	}

    .col-md-7 {
        width: calc(7 * 100% / 12);
    }

    .col-md-8 {
        width: calc(8 * 100% / 12);
    }

	.testimonials-title {
		font-size: 40px;
	}

	.people-card {
		padding: 45px 20px;
		flex-direction: row;
		gap: 20px;
		align-items: center;
	}

	.people-card .people-speech p {
		font-size: 16px;
        text-align: left;
	}

    .about-us .col-md-7 h1 {
        font-size: 45px;
    }

    .about-us .col-md-7 p {
        line-height: 30px;
    }

    .about-us .col-md-7 {
        padding: 0 40px;
    }

    .about-us .container .col-md-5 {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 30px;
    }

    .about-us .container .col-md-5 h3 {
        font-size: 30px;
    }

    .about-us .container .col-md-5 div img {
        margin-top: 0;
        width: 200px;
    }
}

@media (min-width: 992px) {
    /* header */
    .main-menu {
        display: flex;
    }

    .hamburger {
        display: none;
    }

    /* hero */
    .feature-card.card__landscape > * {
        width: 50%;
    }

	.col-lg-4 {
        width: calc(4 * 100% / 12);
		margin-top: auto;
    }

    .col-lg-8 {
        width: calc(8 * 100% / 12);
    }

    .benefits h2 {
        font-size: 40px;
    }
}
